<p>Цена: <br/><%= f.text_field :price %></p>
<p> Название: <br/><%= f.text_field :name %></p>
<p>Описание: <br/><%= f.text_field :description, size: 100 %></p>
<p>Вес: <br/><%= f.text_field :weight %></p>

